* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    color:black;
    font-weight: bold;
}

.hero{
    color: black;
    background-color: white;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

button{
    margin:30px 0;
    padding: 20px 30px;
    background-color: blue;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

button:hover{
    background-color: rgb(91, 91, 231);
}

.card{
    background: whitesmoke;
    width: 100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 10% 10%;
}

.card__item{
    margin: 0 20px;
    max-width: 300px;
    padding: 0 30px;
    height: 300px;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    text-align:center;
    border:none;
    border-radius: 5px;
    background-color:gray;
    color:black;
}
    
.list{
    height: 500px;
    color: black;
    justify-content: center;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}