* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    overflow-x: hidden;
    background-color: white;
    color:black;
    font-weight: bold;
}

nav{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
}



.links >ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links ul > *{
    font-weight: 600;
    margin: 0 20px;
    color:rgb(91, 91, 231)

}


.links ul >li:hover{
    
    cursor: pointer;
    color: rgb(51, 51, 192);
}

.log > button{
    margin: 5 5px;
    padding: 5px 20px;
    font-size: 18px;
    font-weight: 100;
}

.log > button:hover{
    cursor: pointer;
}

.log > .login{
    background-color: white;
    color: black;
}
.log > .login:hover{
    background-color: rgba(167, 161, 161, 0.493);
}

.log > .signup{
    color:white;
}

.log > .signup:hover{
    background-color: rgba(153, 153, 185, 0.548);
}

.nav__menu {
    
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px 4px;
    border:none;
    border-radius: 5px;
    background-color: rgba(164, 164, 224, 0.322);
}

.nav__menu:hover{
    cursor: pointer;
    background-color: rgb(132, 132, 218);
}

.nav__menu > *{
    display: block;
    margin: 3px 0;
    height: 2px;
    width: 30px;
    background-color: black;
}

@media screen and (max-width: 800px) {

    .nav__menu{
        display: flex;
    }
    
}

@media screen and (max-width: 800px) {
    .links{
        display: none;
    }

    .log{
        display: none;
    }
    
}


/* HERO SECTION */

.hero{
    color: black;
    background-color: white;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

button{
    margin:30px 0;
    padding: 20px 30px;
    background-color: blue;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

button:hover{
    background-color: rgb(91, 91, 231);
}

.card{
    background: whitesmoke;
    width: 100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 10% 10%;
}

.card__item{
    margin: 0 20px;
    max-width: 300px;
    padding: 0 30px;
    height: 300px;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    text-align:center;
    border:none;
    border-radius: 5px;
    background-color:gray;
    color:black;
}
    
.list{
    height: 500px;
    color: black;
    justify-content: center;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__link{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: blue;
    position:relative;
    display: inline;
}

.nav__link__menu{
    width: 50vw;
    height: 100vh;
    padding: 5vw 10vw;
    background-color:burlywood;
    display: flex;
    align-items:baseline;
    justify-content:start;

    position: absolute;
    right: 0;
    transform: translateX(100%);
    transition: all .5s ease-in;
}

.nav__link__menu.show{
    transform: translateX(0);
}

.nav__link__menu > ul{
    list-style: none;
}

.nav__link__menu ul > li{
    margin: 20px 0;
    font-size: 25px;
    font-weight: 600;
}

.nav__link__menu ul > li:hover{
    cursor: pointer;
    color: rgb(85, 84, 84);
}



