* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: blue;
    color:aliceblue;
    font-weight: bold;
}

button{

    padding: 20px 30px;
    background-color: aquamarine;
    border: none;
    border-radius: 5px;
}

.card{
    width: 100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 10% 10%;
}

.card__item{
    padding: 10px 10px;
    height: 300px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    border:none;
    border-radius: 5px;
    background-color:gray;
    color:red;
}
    
